body {
    text-align: center;
    font-family: "Quicksand", monospace;
    background-color: bisque;
}

h1 {
    font-family: "Major Mono Display", monospace;
    font-size: 55px;
    margin: 2%;
}

hr {
    border: 1px solid black;
}

p {
    font-size: 25px;
}

a, a:visited {
    color: black;
}

a:hover {
    color: white;
}

.header-details {
    padding-left: 15px;
    padding-right: 15px;
}

.image {
    padding: 20px;
}

.footer p {
    font-size: 14px;
    width: 100%;
    bottom: 0;
    position: fixed;
}


