body {
    text-align: center;
    font-family: "Quicksand", monospace;
    background-color: bisque;
}

h1 {
    font-family: "Major Mono Display", monospace;
    font-size: 55px;
    margin: 2%;
}

h2 {
    font-size: 34px;
    font-weight: lighter;
    margin: 2%;
}

hr {
    border: 1px solid black;
}

table {
    border: 1px solid black;
    font-size: 20px;
}


a, a:visited {
    color: black;
}

a:hover {
    color: white;
}


.header-details {
    padding-left: 15px;
    padding-right: 15px;
}


/*
* The container is a flex-box, which is a powerful layout tool. It grows
* dyanamically, and allows us to position our elements with precision.
*/

.container {
    display: flex;                /* set our display property to use flex-box */
    justify-content: center;      /* center container horizontally */
    align-items: center;          /* center content vertically */
}

.column {
    height: 100%;
    width: 100%;
    flex-direction: column; /* align children in columns instead of rows */
}

.container .square div {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.barrier {
    flex-wrap: wrap;
    flex-direction: row;
    height: 110px;
    width: 425px;
    align-items: center;
}

.wrap {
    flex-wrap: wrap; /* tells container to drop down once it reaches max-width */
    height: 620px;
    width: 700px;
}

.barrier {
    flex-wrap: wrap;
    flex-direction: row;
    height: 110px;
    width: 425px;
    align-items: center;
}

.square {
    border: 1px solid rgba(0, 0, 0, 0.75);
    font-size: 96px;
    height: 80px;
    line-height: 150px;
    user-select: none;
    width: 80px;
}

.square:hover {
    background-color: gray;
    cursor: pointer;
}

.blackSquare {
    background-color: #3d3d3d;
}

.blackSquare:hover {
    background-color: gray;
    cursor: pointer;
}

.king {
    font-weight: bold;
    color: yellow;
    font-family: Impact, Charcoal, sans-serif;
}

.selected-piece {
    font-weight: bold;
    color: red;
}

.available-move {
    background-color: green;
}

.available-jump {
    background-color: red;
}

#reset-button {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 21px;
    line-height: 55px;
    margin: 1%;
    margin-top: 5%;
    text-align: center;
    width: 456px;
}

#reset-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
